<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld.autocode.system.mapper.MenuInfoMapper">

    <select id="getBaseMenu" resultType="com.lld.autocode.system.entity.MenuInfo">
        select *
        from menu_info
        where parent_menu_id = 0
          and ban != '1'
        ORDER BY sort ASC
    </select>

    <select id="getMenuChildren" parameterType="long" resultType="com.lld.autocode.system.entity.MenuInfo">
        select *
        from menu_info
        where parent_menu_id = #{parentId}
          and ban != '1'
        ORDER BY sort ASC
    </select>

    <select id="getParentMenusTree" resultType="com.lld.autocode.system.entity.TreeNode">
        select id as `key` ,
               title
        from menu_info
        where parent_menu_id = 0
          and ban != '1'
        ORDER BY sort ASC
    </select>

    <select id="getTreeChildren" parameterType="long" resultType="com.lld.autocode.system.entity.TreeNode">
        select id as `key` ,
               title
        from menu_info
        where parent_menu_id = #{parentId}
          and ban != '1'
        ORDER BY sort ASC
    </select>

    <insert id="addMenu" parameterType="com.lld.autocode.system.entity.MenuInfo">
        INSERT INTO menu_info (`id`,
                               `menu_name`,
                               `title`,
                               `menu_type`,
                               `parent_menu_id`,
                               `router_path`,
                               `component_path`,
                               `sort`,
                               `ban`,
                               `remark`,
                               `version`,
                               `creator`,
                               `create_time`,
                               `update_by`,
                               `update_time`)
            VALUES (#{id}, #{menuName}, #{title}, #{menuType},
                    #{parentMenuId}, #{routerPath}, #{componentPath}, #{sort},
                    #{ban}, #{remark}, #{version}, #{creator},
                    #{createTime}, #{updateBy}, #{updateTime});

    </insert>

    <delete id="deleteById" parameterType="long">
        delete from menu_info where id = #{id}
    </delete>
</mapper>