#set($usedComponents = [])

#macro(setGlobalComponents $tempComponent)
    #if(!($usedComponents.contains($tempComponent)))
    #set($temp  = $usedComponents.add($tempComponent))
    #end
#end

#macro(getComponent $field)
    #set($tempComponent = $webComponent.get(${field.columnName}))
    #if($tempComponent && $tempComponent != "")
        #setGlobalComponents($tempComponent)
        #if($tempComponent == "Select")
            <Select
                    :options="${field.attributeName}Options"
                    v-model:value="formState.${field.attributeName}"
                    placeholder="请选择"
            />
        #elseif($tempComponent == "DatePicker")
            <DatePicker
                    type="date"
                    format="YYYY-MM-DD"
                    v-model:value="formState.${field.attributeName}"
            />
         #elseif($tempComponent == "Textarea")
            <Textarea
                    v-model:value="formState.${field.attributeName}"
                    :rows="3"
                    placeholder="请输入备注信息（可选）"
                    show-count
                    :maxlength="500"
            />
        #elseif($tempComponent == "InputNumber")
            <InputNumber
                    v-model:value="formState.${field.attributeName}"/>
        #else
            <Input  v-model:value="formState.${field.attributeName}"/>
        #end
    #else
        #setGlobalComponents("Input")
       <Input v-model:value="formState.${field.attributeName}"/>
    #end
#end

<template>
    <Card>
        <Form ref="formRef" :wrapper-col="wrapperCol" :label-col="labelCol" :model="formState">
            <Row>
                #set($excludeFields = ["id","createTime", "updateTime", "creater", "updater"])
                #foreach($field in $fields)
                    #if(!$excludeFields.contains($field.attributeName) && $webComponent.get(${field.columnName}))
                        <Col span="24">
                            <FormItem label="#if(${field.columnComment}) ${field.columnComment} #end"
                                      name="${field.attributeName}">
                                #getComponent($field)
                            </FormItem>
                        </Col>
                    #end
                #end
            </Row>


            <Col span="24">
            <FormItem :wrapper-col="{ span: 14, offset: 8 }">
                <Button type="primary" v-on:click="submit" :loading="submitButLoading">确定</Button>
                <Button type="primary" style="margin-left: 40px" v-on:click="(e) => onClose()"
                >取消
                </Button
                >
            </FormItem>
            </Col>
        </Form>
    </Card>
</template>

<script lang="ts">
    import {
        Button,
        Form,
        FormItem,
        Row,
        Col,
        Card,
        message,
        Select,
        #foreach($components in $usedComponents)
                ${components},
        #end
    } from 'ant-design-vue'
    import {jx3Http} from '/@/utils/http/axios'
    import type {FormInstance} from 'ant-design-vue'
    import {defineComponent, reactive, ref} from 'vue'
    import UrlSetting from './UrlSetting'
    import {keys} from 'xe-utils'
    import {myutils} from '/@/utils/myutils/myutils'

    const getSafeUndefined = myutils.getSafeUndefined
    const labelCol = {style: {width: '80px'}}
    const wrapperCol = {span: 16}

    const formRef = ref < FormInstance > ()

    export default defineComponent({
        components: {
            message,
            Select,
            Button,
            Form,
            FormItem,
            Row,
            Col,
            Card,
    #foreach($components in $usedComponents)
            ${components},
    #end
        },
        props: {
            onClose: Function,
            title: String,
            visible: Boolean,
            initData: Object,
        },
        setup(props) {

            interface  FormState
            {

                #foreach($field in $fields)
                    #if(!$excludeFields.contains($field.attributeName))
                            ${field.attributeName}:any
                    #end
                #end
            }

            const formState = reactive < FormState > ({
                #foreach($field in $fields)
                    #if(!$excludeFields.contains($field.attributeName))
                            ${field.attributeName}: getSafeUndefined(),
                    #end
                #end
            })

            return {
                formRef,
                formState,
                labelCol: labelCol,
                wrapperCol: wrapperCol,
            }
        },

        data() {
            return {
                submitButLoading: false,
            }
        },
        created() {
            this.initFormStateData()
        },

        methods: {
            // 初始化表单数据
            async initFormStateData() {
                if (this.initData) {
                    let result = await jx3Http.get({
                        url: UrlSetting.getDataById,
                        params: {id: this.initData.id},
                    })
                    if (result && result['code'] === 200) {
                        const resultData = result.data
                        keys(this.formState).forEach((key) => {
                            this.formState[key] = resultData[key]
                        })
                    } else {
                        message.error(result.message)
                    }
                }
            },
            // 处理表单数据
            processFormValues(value) {

                if (this.initData) {
                    value.id = this.initData.id
                }
            },


            // 提交表单
            async submit() {
                try {
                    this.submitButLoading = true
                    const value = await this.formRef?.validateFields()
                    if (!value) {
                        return
                    }
                    this.processFormValues(value)

                    console.log('value', value)

                    let urlStr = this.initData
                            ? UrlSetting.update${className}
                            : UrlSetting.add${className}

                    let result = await jx3Http.post({url: urlStr, params: value})
                    if (!result && result['code'] !== 200) {
                        message.error(result.message)
                        return
                    }
                    message.success(result.message)
                    this.onClose && this.onClose(true)
                } catch (e) {
                    console.log(e)
                } finally {
                    this.submitButLoading = false
                }

            },
        },
    })
</script>

<style lang="less" scoped></style>
