##自身所在的包
#set($packagePath = $packagePaths.get($type))
##dto包
#set($dtoPackagePath = $packagePaths.get("dto"))
##service包
#set($servicePackagePath = $packagePaths.get("service"))

#if($packagePath)
package ${packagePath}
#end

##默认引入
#if($servicePackagePath)
import ${servicePackagePath}.${className}Service;
#end
#if($dtoPackagePath)
import ${dtoPackagePath}.${className}Dto;
#end
import com.lld.saltedfishutils.web.result.ReturnResult;
import org.springframework.web.bind.annotation.*;

##额外包引入
#if($imports && $imports.size() > 0)
    #foreach($import in $imports)
import $import;
    #end
#end

@RequestMapping("/${lowerCaseClassName}")
@RestController
public class ${className}Controller {

    private final ${className}Service ${lowerCaseClassName}Service;

    public ${className}Controller(${className}Service ${lowerCaseClassName}Service) {
        this.${lowerCaseClassName}Service = ${lowerCaseClassName}Service;
    }

    @GetMapping("/list")
    public ReturnResult list(${className}Dto ${lowerCaseClassName}Dto) {
        return ${lowerCaseClassName}Service.list(${lowerCaseClassName}Dto);
    }

    @PostMapping("/add")
    public ReturnResult add(@RequestBody ${className}Dto ${lowerCaseClassName}Dto) {
        return ${lowerCaseClassName}Service.add(${lowerCaseClassName}Dto);
    }

    @PostMapping("/update")
    public ReturnResult update(@RequestBody ${className}Dto ${lowerCaseClassName}Dto) {
        return ${lowerCaseClassName}Service.update(${lowerCaseClassName}Dto);
    }

    @PostMapping("/deleteById")
    public ReturnResult deleteById(@RequestBody ${className}Dto ${lowerCaseClassName}Dto) {
        return ${lowerCaseClassName}Service.deleteById(${lowerCaseClassName}Dto);
    }

}