##自身所在的包
#set($packagePath = $packagePaths.get($type))
#if($packagePath)
package ${packagePath}
#end

##默认引入
import lombok.Data;

##额外包引入
#if($imports && $imports.size() > 0)
    #foreach($import in $imports)
import $import;
    #end
#end

/**
 #if($tableComment)
 *$tableComment
 *
 #end
 */

@Data
public class ${className}Vo {

#foreach($field in $fields)
    #if($field.columnComment && $field.columnComment != "")
    /**
     * $field.columnComment
     */
    #end
    private $field.javaType $field.attributeName;

#end
}