##entity包
#set($entityPackagePath = $packagePaths.get("entity"))
##mapper包
#set($mapperPackagePath = $packagePaths.get("mybatismapper"))
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="#if($mapperPackagePath)$mapperPackagePath.${className}Mapper#end">
## ##用来取消换行
#macro(jdbcTypeHandler $dataType)
 #if($dataType == "DATETIME")
jdbcType="TIMESTAMP" ##
 #elseif($dataType == "INT")
jdbcType="INTEGER"
 #elseif($dataType == "TEXT")
jdbcType="LONGVARCHAR"
 #else
jdbcType="$dataType" ##
 #end
 #end


    <resultMap id="BaseResultMap" type="#if($entityPackagePath)${entityPackagePath}.${className}#end">
        #foreach($field in $fields)
            #if($field.attributeName && $field.attributeName == "id")
                <id property="id" column="id" jdbcType="BIGINT"/>
            #else
                <result property="${field.attributeName}" column="${field.columnName}" #jdbcTypeHandler($field.upperCaseDataType)/>
            #end
        #end
    </resultMap>

    <sql id="Base_Column_List">
        #foreach($field in $fields)
            #set($column = $field.columnName.trim())  ${column}#if($foreach.hasNext),#end##
            #if($foreach.index % 3 == 2 && $foreach.hasNext)

            #end
        #end
        #if( 1==1)

        #end
    </sql>
    #if(  $serverMethods.contains("list") )
        <select id="getList" resultType="#if($entityPackagePath)${entityPackagePath}.${className}#end">
            select
            <include refid="Base_Column_List"/>
            from ${tableName}
            <where>
                <if test="${lowerCaseClassName}.creater != null">
                    and creater = #{${lowerCaseClassName}.creater}
                </if>
            </where>
        </select>
    #end

    #if(  $serverMethods.contains("add") )
        <insert id="add" parameterType="${basePath}.entity.${className}">
            insert into ${tableName}(#foreach ($field in $fields) #if(${field.columnName}!="id")${field.columnName}#if($foreach.hasNext),#end#end#end)
            values (#foreach ($field in $fields)#if(${field.columnName}!="id") #{${field.attributeName}}#if($foreach.hasNext),#end #end#end)
        </insert>
    #end

    #if(  $serverMethods.contains("deleteById") )
        <delete id="safeDeleteById">
            delete
            from ${tableName}
            where id = #{id}
            AND creater = #{creater}
        </delete>
    #end

    #if(  $serverMethods.contains("update") )
        <update id="safeUpdate">
            update ${tableName} set
            #foreach($field in $fields)
                #if($field.attributeName && ($field.attributeName != "id" && $field.attributeName != "creater" && $field.attributeName != "update_time")&& $field.attributeName != "create_time")
                    ${field.columnName} = #{${field.attributeName}}#if($foreach.hasNext),#end
                #end
            #end
            where id = #{id}
            AND creater = #{creater}
        </update>
    #end


</mapper>
