##自身所在的包
#set($packagePath = $packagePaths.get($type))
##entity包
#set($entityPath = $packagePaths.get("entity"))
##dto包
#set($dtoPath = $packagePaths.get("dto"))
##mapper包
#set($mapperPath = $packagePaths.get("mybatismapper"))

#if($packagePath)
package ${packagePath}
#end

##默认引用
#if($mapperPath)
import $mapperPath.${className}Mapper;
#end
#if($entityPath)
import $entityPath.${className};
#end
#if($dtoPath)
import $dtoPath.${className}Dto;
#end
import org.springframework.stereotype.Component;

#if($imports && $imports.size() > 0)
    #foreach($import in $imports)
import $import;
    #end
#end


@Component
public class ${className}Repository {

    private ${className}Mapper ${lowerCaseClassName}Mapper;

    public ${className}Repository(${className}Mapper ${lowerCaseClassName}Mapper) {
        this.${lowerCaseClassName}Mapper = ${lowerCaseClassName}Mapper;
    }

#if(  $serverMethods.contains("list") )
    public List<${className}> getList(${className} ${lowerCaseClassName}) {
        return  ${lowerCaseClassName}Mapper.getList(${lowerCaseClassName});
    }
#end

#if(  $serverMethods.contains("add") )
    public void add(${className} ${lowerCaseClassName}) {
    ${lowerCaseClassName}Mapper.add(${lowerCaseClassName});
    }
    #end

#if(  $serverMethods.contains("deleteById") )
    public void safeDeleteById(${className} ${lowerCaseClassName}) {
    ${lowerCaseClassName}Mapper.safeDeleteById(${lowerCaseClassName});
    }
#end

#if(  $serverMethods.contains("update") )
    public void safeUpdate(${className} ${lowerCaseClassName}) {
    ${lowerCaseClassName}Mapper.safeUpdate(${lowerCaseClassName});
    }
#end

}