##自身所在的包
#set($packagePath = $packagePaths.get($type))
##entity包
#set($entityPath = $packagePaths.get("entity"))
##dto包
#set($dtoPath = $packagePaths.get("dto"))
##vo包
#set($voPath = $packagePaths.get("vo"))
##service
#set($servicePath = $packagePaths.get("service"))
##repository包
#set($repositoryPath = $packagePaths.get("repository"))
##mapstruct包
#set($mapstructPath = $packagePaths.get("mapstruct"))

#if($packagePath)
package ${packagePath}
#end

#if($dtoPath)
import ${dtoPath}.${className}Dto;
#end
#if($voPath)
import ${voPath}.${className}Vo;
#end
#if($entityPath)
import ${entityPath}.${className};
#end
#if($repositoryPath)
import ${repositoryPath}.${className}Repository;
#end
#if($servicePath)
import ${servicePath}.${className}Service;
#end
#if($mapstructPath)
import ${mapstructPath}.MS${className}Mapper;
#end
#if(  $serverMethods.contains("list") )
import java.util.List;
#end
#if(  $serverMethods.contains("add") ||  $serverMethods.contains("update") )
import java.util.Date;
#end

import com.lld.saltedfishutils.web.result.ReturnResult;
import org.springframework.stereotype.Service;

#if($imports && $imports.size() > 0)
    #foreach($import in $imports)
    import $import;
    #end
#end


@Service
public class ${className}ServiceImpl implements ${className}Service {

    private ${className}Repository ${lowerCaseClassName}Repository;

   private MS${className}Mapper ms${className}Mapper = MS${className}Mapper.INSTANCE;

    public ${className}ServiceImpl(${className}Repository ${lowerCaseClassName}Repository) {
        this.${lowerCaseClassName}Repository = ${lowerCaseClassName}Repository;

        }

    /**
    *  获取list
    * **/
    public ReturnResult list(${className}Dto ${lowerCaseClassName}Dto) {
    #if(  $serverMethods.contains("list") )
        Long userId = CurrentUserHolder.getUserId();
        ${className} ${lowerCaseClassName} =  ms${className}Mapper.dtoToEntity(${lowerCaseClassName}Dto);
        ${lowerCaseClassName}.setCreater(userId);

        List<${className}> ${lowerCaseClassName}s = ${lowerCaseClassName}Repository.getList(${lowerCaseClassName});
        List<${className}Vo> voList = ms${className}Mapper.entityListToVoList(${lowerCaseClassName}s);
        suppluFields(voList);

    #end
        return  ReturnResult.OK();
    }
        /**
        *补充字段
        * **/
        private void suppluFields(List<${className}Vo> list)  {

   }


    /**
    *  新增
    * **/
    public ReturnResult add(${className}Dto ${lowerCaseClassName}Dto){
    #if(  $serverMethods.contains("add") )
        ${className} ${lowerCaseClassName} = ms${className}Mapper.dtoToEntity(${lowerCaseClassName}Dto);
        Long userId = CurrentUserHolder.getUserId();
        ${lowerCaseClassName}.setCreater(userId);
        ${lowerCaseClassName}.setUpdater(userId);
        Date date = new Date();
        ${lowerCaseClassName}.setCreateTime(date);
        ${lowerCaseClassName}.setUpdateTime(date);
        ${lowerCaseClassName}Repository.add(${lowerCaseClassName});
        #end
        return  ReturnResult.OK();
    }
    /**
    * 更新
    * **/
    public ReturnResult update(${className}Dto ${lowerCaseClassName}Dto){
    #if(  $serverMethods.contains("update") )
        Long userId = CurrentUserHolder.getUserId();
        Date date = new Date();

        ${className} ${lowerCaseClassName} = ms${className}Mapper.dtoToEntity(${lowerCaseClassName}Dto);
        ${lowerCaseClassName}.setUpdater(CurrentUserHolder.getUserId());
        ${lowerCaseClassName}.setUpdateTime(date);

        ${lowerCaseClassName}Repository.safeUpdate(${lowerCaseClassName}, userId);
      #end
        return  ReturnResult.OK();
    }
    /**
    * 删除
    * **/
    public ReturnResult deleteById(${className}Dto ${lowerCaseClassName}Dto){

    #if(  $serverMethods.contains("deleteById") )
        Long userId = CurrentUserHolder.getUserId();
        ${lowerCaseClassName}Repository.safeDeleteById(${lowerCaseClassName}Dto.getId(), userId);
    #end
        return ReturnResult.OK();
    }
}