##自身所在的包
#set($packagePath = $packagePaths.get($type))
##dto包
#set($dtoPath = $packagePaths.get("dto"))
##service
#set($servicePath = $packagePaths.get("service"))
##mapstruct包
#set($mapstructPath = $packagePaths.get("mapstruct"))

#if($packagePath)
package ${packagePath}
#end

##默认引入
#if($dtoPath)
import ${dtoPath}.${className}Dto;
#end
#if($servicePath)
import ${servicePath}.${className}Service;
#end
#if($mapstructPath)
import ${mapstructPath}.MS${className}Mapper;
#end
import com.lld.saltedfishutils.web.result.ReturnResult;


#if($imports && $imports.size() > 0)
    #foreach($import in $imports)
import $import;
    #end
#end

public interface ${className}Service {
    /**
    *  获取list
    * **/
    ReturnResult list(${className}Dto ${lowerCaseClassName}Dto);
    /**
    *  新增
    * **/
    ReturnResult add(${className}Dto ${lowerCaseClassName}Dto);
    /**
    * 更新
    * **/
    ReturnResult update(${className}Dto ${lowerCaseClassName}Dto);
    /**
    * 删除
    * **/
    ReturnResult deleteById(${className}Dto ${lowerCaseClassName}Dto);
}