<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <script src="/js/vue-resource.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--antd组件-->
    <script src="/js/moment.js"></script>
    <script src="/js/antd.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/antd.css"/>

    <!--   解析模板-->
    <script src="/js/httpVueLoader.js"></script>

    <script src="/js/httpApi.js"></script>


    <link rel="stylesheet" href="css/style.css" type="text/css"/>

</head>
<body>
<div id="app">
    <div class="content">
        <div class="content_input">
            <div class="title">
                <p>登录</p>
            </div>
            <a-input v-model="username" placeholder="用户名"></a-input>
            <a-input-password v-model="password" placeholder="密码"></a-input-password>
            <a-input placeholder="验证码" style="width: 180px"></a-input> <span style="margin-left: 16px" title="点击图片，换一张"><img :src="captcha" @click="reloadCaptcha"/></span>
            <div class="content_button">
                <a-button type="primary" @click="login">登录</a-button>
            </div>
        </div>
    </div>
</div>

<!--    背景随机彩色-->
<script src="/js/ribbon.js"></script>
<script src="/js/index.js"></script>


</body>
<script type="text/javascript">
    Vue.use(antd)
    Vue.use(VueResource)
    new Vue({
        el: '#app',
        data() {
            return {
                username: null,
                password: null,
                captcha: null,
                captchaIdentification:null,
            }
        },
        created: function () {
            this.getCaptcha()

        },
        methods: {
            async login() {
                let user = {
                    username: this.username === null || this.username === '' ? null : this.username,
                    password: this.password === null || this.password === '' ? null : this.password,
                }
                let result = await httpPost('/userlogin', user)
                if (result && result.code === "200") {
                    for (const key in result.returnData) {
                        localStorage.setItem(key, result.returnData[key])
                    }
                    this.$message.success('成功');
                    window.location.href = '/main'
                } else {
                    this.$message.error(result.message);
                }

            },
            async getCaptcha() {
                // this.$http.get('/captcha.jpg', {responseType: 'blob'})
                //     .then((success) => {
                //         this.captcha = window.URL.createObjectURL(success.data);
                //     }, (error) => {
                //         console.log(error);
                //     })
                let result =await httpGet("/captcha")
                if (result && result.code === "200") {
                    console.log('result',result)
                   this.captcha  = 'data:image/jpg;base64,' + result.returnData.imgBase64;
                    this.captchaIdentification=result.returnData.captchaIdentification;
                } else {
                    this.$message.error(result.returnData);
                }
            },
            reloadCaptcha() {
                this.getCaptcha()
            }

        }
    })
</script>
</html>